.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-pictures {
  width: 1.03125em;
}

.icon-video {
  width: 1.15625em;
}

.icon-camera {
  width: 1.3125em;
}

.icon-bargraph {
  width: 1.125em;
}

.icon-ribbon {
  width: 0.875em;
}

.icon-lock {
  width: 0.875em;
}

.icon-megaphone {
  width: 1.25em;
}

.icon-trophy {
  width: 1.0625em;
}

.icon-gears {
  width: 1.3125em;
}

.icon-pricetags {
  width: 1.3125em;
}

.icon-profile-male {
  width: 1.125em;
}

.icon-map-pin {
  width: 0.75em;
}

.icon-chat {
  width: 1.3125em;
}

.icon-heart {
  width: 1.15625em;
}

.icon-cloud {
  width: 1.3125em;
}

.icon-upload {
  width: 1.3125em;
}

.icon-download {
  width: 1.3125em;
}
